@charset "utf-8";
/* CSS Document */
body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  line-height: 1.5em
}
